.menu-home {
  width: 500px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

.menu-title {
  font-size: 30px;
  color: #29b8ff;
}

.dropdown-toggle {
  width: 300px;
}

.numbers-section hr {
  color: grey;
  height: 2px;
  width: 70%;
}

.numbers-section {
  font-size: 20px;
}

hr {
  color: grey;
  height: 2px;
  width: 80%;
}

.btn-fav {
  width: 50px;
}
